body {
  font-family: Arial;
  color: white;
  background: linear-gradient(black, darkred);
}

.fire-bg {
  background: url('../assets/fire-bg.jpg');
  background-size: cover;
}

.cards div {
  background: orange;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
}

button {
  background: red;
  color: white;
  padding: 10px;
  border: none;
  margin: 5px;
}
